{% extends 'base.html'%}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="heading">
                    <span class="subheading"><i class="fas fa-quote-left"></i> <em>{{quote.quote}}</em> <i
                            class="fas fa-quote-right"></i></span>
                    <h2>{{quote.author}}</h2>
                </div>
            </div>
        </div>
    </div>


<!-- Main Content -->

{%endblock%}